<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="text-center top-text p-1"><%= t('.title') %></h3>
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if @user.role != 'guest' %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control mb-3' %>
        <% end %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control mb-3' %>

        <div class="mb-2">
          <%= f.label :avatar, class: 'form-label fw-bolder' %><br>
          <%= image_tag @user.avatar.url, id: 'preview', class: 'rounded-circle mr15', size: '80x80' %>
          <%= f.file_field :avatar, class: 'border rounded-3 p-1 m-3', accept: 'image/*' , id: 'file-field' %> 
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="mb-4">
          <%= f.label :introduction, class: 'form-label' %>
          <%= f.text_area :introduction, class: 'form-control', placeholder: '自己紹介を入力しよう！' %>
        </div>
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>