<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row p-2 text-center">
    <div class="col text-center">
      <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="acount-tab" data-toggle="tab" href="#acount" role="tab" aria-controls="acount" aria-selected="true">アカウント情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="myself_review-tab" data-toggle="tab" href="#myself_review" role="tab" aria-controls="myself_review" aria-selected="false">レビュー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="follow-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow" aria-selected="false">フォロー</a>
        </li>
      </ul>
  </div>
</div>
<div class="container">
  <div class="row p-2 text-center">
   <div class="col text-center">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="acount" role="tabpanel" aria-labelledby="acount-tab">
        <%= render 'acount' %>
      </div>
      
      <div class="tab-pane fade" id="myself_review" role="tabpanel" aria-labelledby="myself_review-tab">レビュー
        <div class="text-center"><%= link_to "#{current_user.name}さんのレビュー", myselfs_posts_path, class: 'btn btn-success m-1' %></div>
        <div class="text-center"><%= link_to 'いいねしたレビュー', likes_posts_path, class: 'btn btn-success m-1' %></div>
      </div>

      <div class="tab-pane fade" id="follow" role="tabpanel" aria-labelledby="follow-tab">フォロー
        <div class="text-center"><%= link_to 'フォローしたユーザー', following_user_path(current_user), class: 'btn btn-info m-1' %></div>
        <div class="text-center"><%= link_to 'フォロワー', follower_user_path(current_user), class: 'btn btn-info m-1' %></div>
      </div>
    </div>
  </div>
</div>
