<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title fw-bold">
        <%= link_to user.name, user_path(user), class: 'card-link' %>
      </h4>
      <%
=begin%>
 <%= image_tag user.decorate.avatar, class: 'avatar-xl rounded-circle' %> 
<%
=end%>
      <td><%= image_tag user.avatar.url, class: 'rounded-circle', size: '100x100' %></td>
      <%
=begin%>
 <p><%= render 'relationships/follow_button', user: user %></P> 
<%
=end%>
      <p class="card-text"><%= simple_format(user.introduction) %></p>
    </div>
  </div>
</div>