<div class="col-sm-12 col-lg-4 mb-3">
  <div id="book-id-<%= book.id %>">
    <div class="card">
      <%= image_tag book.book_image_url, class: 'card-img-top', size: '300x200' %> 
      <div class="card-body">
        <h4 class="card-title">
           <%= link_to book.title, book_path(book) %>
        </h4>
        <div class='mr10 float-right'>
          <%= render 'crud_menus', book: book if current_user.own?(book)%>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= book.user.name %> 

          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l book.created_at, format: :long %> 
          </li>
        </ul>
        <p class="card-text"><%= book.body %></p>
      </div>
    </div>
  </div>
</div>