<div class="container pt-3">
  <div class="row mb-3">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= form_with url: search_books_path, local: true, method: :get do |f| %>
        <div class="mb-3">
          <p class="fw-bolder">絵本を検索してください</p>
          <%= f.search_field :search, class: "form-control", placeholder: '検索', value: params[:search] %>
          <p class=""><small class="text-secondary">書名・著者等で検索することができます。</small></p>
        </div>
        <%= f.submit t('defaults.search'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <!-- 検索結果 -->
  <% if @google_books.present? %>
    <div class="bg-white border rounded-2 px-3 mb-3">
      <p class="py-1 my-2 fw-bolder">検索結果<span class="fw-normal fs-7">　キーワード : <%= params[:search] %></span></p>
    </div>
    <div class="row">
      <% @google_books['items']&.each do |google_book| %>
      
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-3", style="height: 370px; min-width: 300px;">
            <div class="row g-0">
              <div class="col-5">

                <%= link_to '投稿する', new_post_path(volumeInfo: set_google_book_params(google_book)) %>
                <%= image_tag google_book_thumbnail(google_book), class: 'img-fluid ms-2 mt-2 border book-img' %>


              </div>
              <div class="col-7">
                <div class="card-body">
                  <h5 class="card-title"><%= google_book['volumeInfo']['title'].truncate(30) %></h5>
                  <p class="card-text mb-2"><%= google_book['volumeInfo']['authors']&.join(', ')&.truncate(20) %></p>
                  <p class="card-text"><small class="text-muted"><%= google_book['volumeInfo']['publishedDate'] %></small></p>
                  
                  <!-- 確認用 -->
                  <% google_book_isbn(google_book) %>
                  <%
=begin%>
 <%= google_book['volumeInfo']['systemid1'] %>
                  <%= google_book['volumeInfo']['systemid2'] %> 
<%
=end%>

                  <!-- 投稿フォーム -->
                  <%= form_with model: @book, local: true do |f| %>
                    <%= f.hidden_field :title, value: set_google_book_params(google_book)["title"] %>
                    <%= f.hidden_field :published_date, value: set_google_book_params(google_book)["publishedDate"] %>
                    <%= f.hidden_field :info_link, value: set_google_book_params(google_book)["infoLink"] %>
                    <%= f.hidden_field :image_link, value: set_google_book_params(google_book)["bookImage"] %>
                    <%= f.hidden_field :systemid, value: set_google_book_params(google_book)["systemid"] %>
                    <% set_google_book_params(google_book)["authors"]&.each do |author| %>
                      <%= hidden_field_tag 'book[authors][]', author %>
                    <% end %>
                    <%= f.submit "読んでみたい" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


