<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <div class="card mb-4 p-3">
        <div class="row g-0">
          <div class="col-5">
            <%= image_tag @book.image_link.blank? ? 'sample.jpeg' : @book.image_link, class: 'img-fluid border' %>
          </div>
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title"><%= @book.title %></h5>
              <p class="card-text mb-2"><%= @book.authors.pluck(:name).join(', ')&.truncate(50) %></p>
              <p class="card-text"><small class="text-muted"><%= @book.published_date %></small></p>
              <%= link_to '詳細を見る', @book.info_link, target: '_blank' %>
            </div>
          </div>
          <% if current_user.own?(@book) %> 
            <ul class='crud-menu-btn list-inline float-right'>
              <li class="list-inline-item">
                <%= link_to book_path(@book), id: "button-delete-#{@book.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </li>
            </ul>
          <% end  %>
        </div>
      </div>
      
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>

              <% @hash.each do |a,b| %>
              <%= a %>
              <p><%= b %></P>
              <% end %>
              
              
            
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>