<div class="card mx-auto">
  <div class="row g-0">
    <div class="col-5">
      <%= image_tag @book.image_link.present? ? @book.image_link : 'sample.jpg', class: 'img-fluid border m-3' %>
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title"><%= @book.title %></h5>
        <p class="card-text mb-2"><%= @book.authors.pluck(:name).join(', ')&.truncate(50) %></p>
        <% if current_user.own?(@book) %> 
          <h3 class="float-right">
            <%= link_to book_path(@book), id: "button-delete-#{@book.id}",
              method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </h3>
        <% end %> 
        <p class="card-text mb-2"><small class="text-muted"><%= @book.published_date %></small></p>
        <h5 class="float-left"><%= link_to 'Googleで見る', @book.info_link, class: "badge bg-light" %></h5>
      </div>
    </div>
  </div>
</div>

<% if @library.present? %>
  <div class="low text-center">
    <article class="card mb-3">
      <div class="card-body">
          <div class='col'>
            <h5><%= @library.name%>貸出情報</h5>
            <% if @book.systemid.present?%>
              <p><div id="kensaku"><i class="fa fa-spinner fa-spin fa-4x fa-fw" style="color: orange"></i></div></p>
              <p id="choice"></p>
              <p id="choice2"></p>
              <%= javascript_pack_tag "calil" %>
            <% else %>
              <button type="button" class="btn btn-dark">検索できません<p>Googleに本NOの登録がありませんでした</button>
            <% end %>
          </div>
      </div>
    </article>
  </div>
<% else %>
    <%= link_to '図書館登録をすると貸出状況が表示されます', libraries_path, class: "btn bg-danger text-white m-3" %> 
<% end %>
