<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <div class="card mb-4 p-3">
        <div class="row g-0">
          <div class="col-5">
            <%= image_tag @book.image_link.blank? ? 'sample.jpeg' : @book.image_link, class: 'img-fluid border' %>
          </div>
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title"><%= @book.title %></h5>
              <p class="card-text mb-2"><%= @book.authors.pluck(:name).join(', ')&.truncate(50) %></p>
              <p class="card-text"><small class="text-muted"><%= @book.published_date %></small></p>
              <%= link_to '詳細を見る', @book.info_link, target: '_blank' %>
            </div>
          </div>
          <% if current_user.own?(@book) %> 
            <ul class='crud-menu-btn list-inline float-right'>
              <li class="list-inline-item">
                <%= link_to book_path(@book), id: "button-delete-#{@book.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
      
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              貸出情報
              <p id="kensaku"><button type="button" class="btn btn-secondary">検索中</button></p>
              <p id="choice"></p>

              <script>
                    function promiseFactory(count) {
                      return new Promise((resolve, reject) => {
                         timer_id = setTimeout(() => {
                            count++;
                            console.log(`${count}回目のコールです。時刻：[${new Date().toTimeString()}]`);
                          $.ajax({
                            type: 'GET',
                            url: 'https://api.calil.jp/check',
                            data:{
                              appkey: "<%= ENV['APP_KEY'] %>",
                              isbn: Number("<%= @book.systemid %>"),
                              systemid: 'Kanagawa_Hiratsuka',
                            },
                            dataType: 'jsonp',
                            jsonp: 'callback',//コールバックパラメータ名の指定
                          })

                          .done(function(data){
                            console.log(data)
                            const test = data.books[Number("<%= @book.systemid %>")].Kanagawa_Hiratsuka.libkey

                            if (data.continue === 0) {
                              console.log("取得に成功")
                              Object.keys(test).forEach( function(value) {
                                $("#kensaku").remove();
                                $("#choice").after(`<div>
                                <button type="button" class="btn btn-success">${value} : ${this[value]}</button>
                                </div>`)
                              }, test)
                              clearTimeout( timer_id );
                            } else {
                              if (count === 3 ) { // 3回目のコールでエラー
                              reject(count);
                              } else {
                              resolve(count);
                              }
                            }
                           })

                          .fail(function(data){
                            $("#jsonp").append("エラーです");
                          });

                        }, 2000);
                      });
                    }
                        async function execute() { // awaitを内部で使っているためasyncをつける
                          try {
                              // promiseFactory内のresolveが呼び出されるまで次の処理を実行しない
                              //awaitによってresolveの引数の値がcountに代入される
                              let count = await promiseFactory(0);
                              count = await promiseFactory(count);
                              count = await promiseFactory(count);
                              count = await promiseFactory(count);
                          } catch (errorCount) {
                              // Promiseがrejectedのステータスになった場合はcatchブロックに遷移する
                              console.error(`エラーに飛びました。現在のカウントは ${errorCount} です。`);
                          } finally {
                              console.log("処理を終了します。");
                          }
                      }
                      // execute()の実行
                      execute();
              </script>   
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>