<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to "https://twitter.com/share?url=#{request.url}
      %0a%0a&text=#{ @post.user.name.truncate(15) }さんのおすすめの絵本は%0a【#{ @post.title.truncate(20) }です】
      %0a#{ @post.body.truncate(30) }%0a%0a&hashtags=Kariteyomu",
      target: '_blank' do %>
      <h3><i class="fab fa-twitter" style='color: #3399FF;'></i></h3>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <h3><%= icon 'fa', 'pen' %></h3>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to post_path(post), id: "button-delete-#{post.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
      <h3><%= icon 'fas', 'trash' %></h3>
    <% end %>
  </li>
</ul>
