<div class="col row-cols-1 row-cols-md-2 p-2">
  <div class="card mx-auto" style="width: 18rem; height: 19rem">
    <div class="row g-0", style="height: 270px">
      <div class="col-5">
        <%= image_tag post.image_link.blank? ? 'sample.jpeg' : post.image_link, class: 'img-fluid border m-3' %>
        <div class="d-flex pt-2">
          <% post.categories.each do |category| %>
            <div class="badge bg-info text-white"><%= category.name %></div> 
          <% end %>
        </div>
      </div>
      <div class="col-7">
        <div class="card-body">
          <h5 class="card-title"><%= post.title.truncate(20) %></h5>
          <p class="card-text mb-2"><%= post.authors.pluck(:name).join(', ')&.truncate(15) %></p>  
        </div>
      </div>
    </div>
    <div class="d-flex border-top pt-2">
      <div>
        <%= image_tag post.user.avatar.url, class: 'rounded-circle m-2', size: '40x40' %>
      </div>
      <div>
        <p class="fs-7 mb-1"><%= post.user.name %></p>
        <div class="card-text"><%= post.body.truncate(30) %></div>
      </div>
    </div>
       <%= link_to '', post_path(post), class: 'card-link' %>
  </div>
</div>