<% content_for(:title, t('.title')) %>
<% if logged_in? %>
  <div class="text-center top-text p-1">レビュー</div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <h3 class="text-center top-text p-3"><%= t('.no_result') %></h3>
        <% end %>
      </div>
      <%= paginate @posts %> 
    </div>
  </div>
<% else %>
<div class="top-wrapper">
  <div class="top-inner-text text-white">
    <h4>Kariteyomu</h4>
    <h3>次は何の絵本をかりますか？</h3>
  </div>
</div>

<%= render 'shared/how_to' %>

<div class="text-center top-text p-1">最近の投稿</div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
    <%= paginate @posts %> 
  </div>
</div> 

<% end %>
<div class="t-1">
  <div class="container">
    <nav class="nav justify-content-center fs-7"> 
      <%= link_to '利用規約', terms_path ,class: 'nav-link text-dark' %>
      <%= link_to 'プライバシーポリシー', privacy_path ,class: 'nav-link text-dark' %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/ArRqVyoGTSZq2s6t5' ,class: 'nav-link text-dark' %>
    </nav>
    <p class="copyright text-center text-secondary fs-7">Copyright © 2022. Kariteyomu</p>
  </div>
</div>
