<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h3 class="text-center top-text p-1"><%= t('.title') %></h3>
      <div class="card mb-4 p-3">
        <div class="row g-0">
          <div class="col-5">
            <%= image_tag @volume_info[:bookImage].present? ? @volume_info[:bookImage] : 'sample.jpeg', class: 'img-fluid border m-3' %>
          </div>
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title"><%= @volume_info[:title] %></h5>
              <p class="card-text mb-2"><%= @volume_info[:authors]&.join(', ') %></p>
              <p class="card-text"><small class="text-muted"><%= @volume_info[:publishedDate] %></small></p>
              <%= link_to 'Googleで詳細を見る', @volume_info[:infoLink], target: '_blank' %>
            </div>
          </div>
        </div>
      </div>
      <%= form_with model: @post, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-4">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: 8 %>
        </div>

        <div class='form-group'>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <div class="form-check form-check-inline">
              <%= category.label class: 'form-check-label' do %>
                <%= category.check_box class: 'form-check-input' %>
                <%= category.text %>
              <% end %>
            </div>
          <% end %>
        </div>
        
        <%= f.hidden_field :title, value: @volume_info[:title] %>
        <%= f.hidden_field :published_date, value: @volume_info[:publishedDate] %>
        <%= f.hidden_field :info_link, value: @volume_info[:infoLink] %>
        <%= f.hidden_field :image_link, value: @volume_info[:bookImage] %>
        <%= f.hidden_field :systemid, value: @volume_info[:systemid] %>
        <% @volume_info[:authors]&.each do |author| %>
          <%= hidden_field_tag 'book[authors][]', author %>
        <% end %>
        
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
  </div>
</div>
