<div class="col row-cols-1 row-cols-md-2 p-2">
  <div class="card mx-auto">
    <div class="row g-0">
      <div class="col-5">
        <%= image_tag @post.image_link.present? ? @post.image_link : 'sample.jpg', class: 'img-fluid border m-1' %>
        <h6><%= link_to 'Googleで見る', @post.info_link, class: "btn-outline-success btn-sm m-1" %></h6>
      </div>

      <div class="col-7">
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <% @post.authors.each do |author| %>
            <%= link_to author.name, posts_path(author_id: author.id), class: "link-success" %>
          <% end %>
          <p class="card-text"><small class="text-muted"><%= @post.published_date %></small></p>

          <%= form_with model: @book, local: true, id: "new_book" do |f| %>
            <%= f.hidden_field :title, value: @post.title %>
            <%= f.hidden_field :published_date, value: @post.published_date %>
            <%= f.hidden_field :info_link, value: @post.info_link %>
            <%= f.hidden_field :image_link, value: @post.image_link %>
            <%= f.hidden_field :systemid, value: @post.systemid %>
           
            <% @post.authors&.each do |author| %>
              <%= hidden_field_tag 'book[authors][]', author.name %>
            <% end %>

            <%= button_tag type: "f.submit", class: "btn btn-info btn-sm" do %>
              <i class="fa-regular fa-square-plus"></i>よみたいに追加
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
      
  <article class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-md-9'>
          <% if logged_in? && current_user.own?(@post) %>
            <%= render 'crud_menus', post: @post %>
          <% else %>
            <%= render 'like_button', post: @post  %>
          <% end %>
          <%= link_to image_tag(@post.user.avatar.url, class:"rounded-circle m-1 user-image", size: '60x60'), user_path(@post.user) %>
          <%= link_to @post.user.name, user_path(@post.user) %>
          <p class="card-text mb-2">投稿日：<%= l @post.created_at, format: :long  %></p>
          <p class="card-text mb-2"><%= simple_format(@post.body) %></p>
        </div>
        
        <div class='col-md-12 p-1'>
          <% @post.categories.each do |category| %>
            <%= link_to category.name, posts_path(category_id: category.id), class: "badge bg-info text-white p-2" %>
          <% end %>
        </div>

        <div class='col-md-12 p-1'>
          <% @post.ages.each do |age| %>
            <%= link_to age.name, posts_path(age_id: age.id), class: "badge bg-success text-white p-2" %>
          <% end %>
        </div>
        
      </div>
    </div>
  </article>
  <p>
  <% if logged_in? && current_user.own?(@post) %>
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <%= render 'comments/comments', { comments: @comments } %> 
  <% end %>
  </p>
</div>